body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 50%;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.info {
    padding-top: 10px; 
    padding-right: 20px; 
    padding-bottom: 20px; 
    padding-left: 100px;  
  }
.table-users {
    padding-top: 100px; 
    padding-right: 20px; 
    padding-bottom: 20px; 
    padding-left: 100px;  
  }

